# Ansible Vault
**/vault.yml
*.vault

# SSH keys
*.pem
*.key

# Ansible retry files
*.retry

# Logs
*.log

# OS
.DS_Store

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup


.terraform/
*.tfstate
*.tfstate.backup
