server {
    listen {{ nginx_port }};
    server_name {{ server_name }};

    location / {
        root /usr/share/nginx/html;
        index index.html;
    }

    location /env {
        default_type text/plain;
        return 200 "Entorno: {{ env_name }}\nUsuario: {{ vault_app_user }}\n";
    }
}

