<!DOCTYPE html>
<html>
<head>
  <title>{{ web_title }}</title>
</head>
<body>
  <h1>{{ web_title }}</h1>

  <p>Propietario: {{ web_owner }}</p>
  <p>Empresa / Proyecto: {{ company }}</p>
  <p>Entorno: {{ environment }}</p>

  <hr>
  <p>Servidor desplegado automáticamente con:</p>
  <ul>
    <li>Terraform</li>
    <li>Ansible</li>
    <li>Nginx</li>
  </ul>
</body>
</html>

