# 1️⃣ Instalar Nginx
- name: Instalar Nginx
  yum:
    name: nginx
    state: present

# 2️⃣ Copiar configuración desde template
- name: Copiar configuración de Nginx desde template
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode:  0644
  notify: Validar y reiniciar Nginx

# 3️⃣ Asegurar que Nginx está arrancado
- name: Asegurar que Nginx está arrancado y habilitado
  systemd:
    name: nginx
    state: started
    enabled: yes

# 4️⃣ Mostrar credenciales SOLO en dev
- name: Mostrar credenciales SOLO en dev
  debug:
    msg: "Usuario: {{ vault_app_user }} | Contraseña: {{ vault_app_password }}"
  when: env_name == "dev"

- name: Health check HTTP local
  uri:
    url: http://localhost
    status_code: 200
  changed_when: false

